<h2>Edit Current User</h2>
        <form  ng-controller="editCtrl as up" name="up.upload_form">
                Single Image with validations
            <input 
                class="btn btn-info"
                type="file" 
                ngf-select 
                ng-model="up.file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />
            Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/default.png'"/>
            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            <button type="submit" ng-click="up.submit()" class="btn btn-warning">submit</button>
            <p>{{up.progress}}</p>
        </form>
<form>
  <div class="form-group">
    <div class="col-md-6">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name">
    </div>
    <div class="col-md-6">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name">
    </div>

    <label for="title">Title:</label>
    <input type="text" class="form-control" ng-model="title" placeholder="Title">

    <label for="gender">Gender:</label>
    <input type="text" class="form-control" ng-model="gender" placeholder="Gender">

    <label for="age">Age:</label>
    <input type="text" class="form-control" ng-model="age" placeholder="Age">  
    
    <label for="startDate">Start Date:</label>
    <input type="text" class="form-control" ng-model="startDate" placeholder="Start Date"> 

    <label for="managerID">Manager Name:</label>
    <input type="text" class="form-control" ng-model="managerName" placeholder="manager name"> 
    <!-- <input type="text" class="form-control" ng-model="managerID" placeholder="Manager" ng-hide="true"> -->

    <div>
        <label>Choose another manager:</label>
        <select ng-model="selectedManager" ng-options="x.firstName for x in employees">
                {{x.firstName}}
        </select>
        <p>you selected manager name: {{selectedManager.firstName}}</p>
        <p>the manager id is: {{selectedManager._id}}</p>
    </div>

    <label for="directReports" ng-hide="true">Direct Reports:(unchangeble)</label>
    <input type="text" class="form-control" ng-model="directReports" placeholder="direct reports" ng-hide="true">

    <label for="officePhone">Office Phone:</label>
    <input type="text" class="form-control" ng-model="officePhone" placeholder="office phone">

    <label for="cellPhone">Cell Phone:</label>
    <input type="text" class="form-control" ng-model="cellPhone" placeholder="cell phone">

    <label for="sms">SMS:</label>
    <input type="text" class="form-control" ng-model="sms" placeholder="SMS">

	<label for="email">Email:</label>
    <input type="text" class="form-control" ng-model="email" placeholder="email">    

  </div>
  <button type="button" class="btn btn-primary" ng-click="save()">Save Changes</button>
  <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
</form>